<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>icon & chips & tag - Fair Liar</title>
    <link rel="stylesheet" href="../../assets/css/common.min.css">

    <!-- SCRIPT IMPORT -->
     <script src="../../assets/js/import/import.js"></script>

    



    <script src="../../assets/js/ui.common.js" charset="utf-8"></script>
</head>

<body>
    <div id="wsg-wrap" class="wsg">

        <header class="wsg-header">
            <h1>
                <a href="javascript:void(0);"><img src="/status/assets/logo.svg" width="120" alt="Fair Liar"></a>
            </h1>
            
            <nav id="nav">
                <ul>
                    <li ><a href="../../index.html">IA List</a></li>
                    <li class="on"><a href="wsg.html">웹스타일가이드</a></li>
                </ul>
            </nav>
        </header>

        <ul class="guideSubmenu">
            <li><a href="./wsg.html" >Color</a></li>
            <li><a href="./typography.html" >Typography</a></li>
            <li><a href="./icon.html" class="guideOn">Icon &amp; Chips &amp; Tag</a></li>
            <li><a href="./button.html" >Button</a></li>
            <li><a href="./form.html" >Form</a></li>
            <li><a href="./accordian.html"  >아코디언</a></li>
            <li><a href="./table.html" >Table</a></li>
            <li><a href="./list.html" >List</a></li>
            <li><a href="./ui.html" >COMMON UI</a></li>
            <li><a href="./layerpopup.html" >Popup</a></li>
            <!-- <li><a href="./unit.html" >유닛</a></li> -->
            <!-- <li><a href="./slider.html" >슬라이더</a></li> -->
        </ul>

        <div class="guideContainer">
            <section class="sample">
                <h2 class="sampleTitle">01. Icon</h2>
                <div class="sampleContent">
                    <h3><strong>16x16</strong></h3>
                    <ul style="display: flex; flex-wrap: wrap; gap: 20px;">
                        <li class="icon_box"><span class="icon_home"></span></li>
                        <li class="icon_box"><span class="icon_download"></span></li>
                        <li class="icon_box"><span class="icon_edit"></span></li>
                        <li class="icon_box"><span class="icon_elim"></span></li>
                        <li class="icon_box"><span class="icon_error"></span></li>
                        <li class="icon_box"><span class="icon_info"></span></li>
                        <li class="icon_box"><span class="icon_modify"></span></li>
                        <li class="icon_box"><span class="icon_noti"></span></li>
                        <li class="icon_box"><span class="icon_phone"></span></li>
                        <li class="icon_box"><span class="icon_sns_ins"></span></li>
                        <li class="icon_box"><span class="icon_sns_kak"></span></li>
                        <li class="icon_box"><span class="icon_trash"></span></li>
                        <li class="icon_box" style="background-color: black;"><span class="icon_trash_wh"></span></li>
                        <li class="icon_box"><span class="icon_rotate"></span></li>
                        <li class="icon_box"><span class="icon_choice"></span></li>
                        <li class="icon_box"><span class="icon_arrow_bottom small"></span></li>
                        <li class="icon_box"><span class="icon_arrow_top small"></span></li>
                    </ul>
                   
                    <br><br><br>
                    <h3><strong>24x24</strong></h3>
                    <ul style="display: flex; flex-wrap: wrap; gap: 20px;">
                        <li class="icon_box"><span class="icon_arrow"></span></li>
                        <li class="icon_box"><span class="icon_arrow_bottom"></span></li>
                        <li class="icon_box"><span class="icon_arrow_double"></span></li>
                        <li class="icon_box"><span class="icon_arrow_right"></span></li>
                        <li class="icon_box"><span class="icon_arrow_top"></span></li>
                        
                        <li class="icon_box"><span class="icon_plus"></span></li>
                        <li class="icon_box"><span class="icon_minus"></span></li>
                        <li class="icon_box"><span class="icon_user_rating"></span></li>
                        <li class="icon_box"><span class="icon_buy"></span></li>
                        <li class="icon_box"><span class="icon_coin"></span></li>
                        <li class="icon_box"><span class="icon_coupon"></span></li>
                        <li class="icon_box"><span style="background-color: black;" class="icon_btn discount"></span></li>
                        <li class="icon_box"><span style="background-color: black;" class="icon_btn discount_shape"></span></li>
                        <li class="icon_box"><span style="background-color: black;" class="icon_btn order_inquiry"></span></li>
                        <li class="icon_box"><span style="background-color: black;" class="icon_btn order_history"></span></li>
                        <li class="icon_box"><span class="icon_eye"></span></li>
                        <li class="icon_box"><span class="icon_eye_off"></span></li>
                        <li class="icon_box"><span class="icon_naver"></span></li>
                        <li class="icon_box"><span class="icon_kakao"></span></li>
                        <li class="icon_box"><span class="icon_map"></span></li>
                        <li class="icon_box"><span class="icon_grade-welcome"></span></li>
                        <li class="icon_box"><span class="icon_grade-gold"></span></li>
                        <li class="icon_box"><span class="icon_sort"></span></li>
                        <li class="icon_box"><span class="icon_btn attachment"></span></li>
                        <li class="icon_box"><span class="icon_btn wish"></span></li>
                        <li class="icon_box"><span class="icon_wish"></span></li> 
                        <li class="icon_box"><span class="icon_wish on"></span></li>
                        <li class="icon_box"><span class="icon_search"></span></li>
                        <li class="icon_box"><span style="background-color: black;" class="icon_retrun"></span></li>
                        <li class="icon_box"><span style="background-color: black;" class="icon_change"></span></li>
                        <li class="icon_box"><span class="icon_refund"></span></li>
                        <li class="icon_box"><span class="icon_btn home"></span></li>
                        <li class="icon_box"><span class="icon_btn back"></span></li>
                        <li class="icon_box"><span class="icon_btn nav"></span></li>
                        <li class="icon_box"><span class="icon_btn cart"></span></li>
                        <li class="icon_box"><span class="icon_btn user"></span></li>
                        <li class="icon_box"><span class="icon_btn close"></span></li>
                    </ul>

                    <br><br><br>
                    <h3><strong>32x32</strong></h3>
                    <ul style="display: flex; flex-wrap: wrap; gap: 20px;">
                        <li class="icon_box"><span class="icon_closed"></span></li>
                        <li class="icon_box"><span class="icon_clear"></span></li>
                        <li class="icon_box"><span class="icon_oder"></span></li>
                        <li class="icon_box"><span class="icon_oder_payment"></span></li>
                        <li class="icon_box"><span class="icon_oder_ready"></span></li>
                        <li class="icon_box"><span class="icon_oder_compl"></span></li>
                        <li class="icon_box"><span class="icon_oder_shipp"></span></li>
                        <li class="icon_box"><span class="icon_password"></span></li>
                        <li class="icon_box"><span class="icon_auth"></span></li>
                        <li class="icon_box"><span class="icon_auth2"></span></li>
                        <li class="icon_box"><span class="icon_btn gift"></span></li>
                        <li class="icon_box"><span class="icon_btn gift on"></span></li>
                        <li class="icon_box"><span class="icon_btn good"></span></li>
                        <li class="icon_box"><span class="icon_btn good on"></span></li>
                        <li class="icon_box"><span class="icon_btn cart2"></span></li>
                        <li class="icon_box"><span class="icon_btn cart2 on"></span></li>
                        <li class="icon_box"><span class="icon_list_list"></span></li>
                        <li class="icon_box"><span class="icon_list_list on"></span></li>
                        <li class="icon_box"><span class="icon_list_thumb"></span></li>
                        <li class="icon_box"><span class="icon_list_thumb on"></span></li>
                        <li class="icon_box"><span style="background-color: black;" class="icon_bread_arrow"></span></li>
                        <li class="icon_box"><span style="background-color: black;" class="icon_shop"></span></li>
                        <li class="icon_box"><span style="background-color: black;" class="icon_store"></span></li>
                        <li class="icon_box"><span style="background-color: black;" class="icon_receipt"></span></li>
                        <li class="icon_box"><span style="background-color: black;" class="icon_paper"></span></li>
                        <li class="icon_box"><span style="background-color: black;" class="icon_user"></span></li>
                        <li class="icon_box"><span style="background-color: black;" class="icon_write"></span></li>
                        <li class="icon_box"><span style="background-color: black;" class="icon_complete"></span></li>
                    </ul>



                    <div class="description">
                        <!-- <h3>GUIDE</h3>
                        <p style="line-height:1.6;">
                            * 공통 버튼만 정리<br>
                            * 추후 기능별 버튼 정리 예정<br>
                            * Primary, Secondary, Tertiary의 세가지 컬러만 사이즈 조절 가능, 현재 사이즈가 중간(.small/.large)<br>
                            <br>
                        </p> -->
                    </div>
                </div>
            </section>

            <section class="sample">
                <h2 class="sampleTitle">02. Chips</h2>
                <div class="sampleContent">
                    <span class="chip">기본배송지</span>

                    <br><br>

                    <span class="chip rd">신청</span>
                    <span class="chip rd disabled">예정</span>

                    <br><br>

                    <span class="chip rd new">New</span> (모바일 해상도로 변경하면 모바일 버전을 볼 수 있음)

                    <br><br>

                    <span class="chip rd min unsubscribe">Set</span> (모바일 해상도로 변경하면 모바일 버전을 볼 수 있음)

                    <br><br>
                    
                    <span class="chip ing">진행중</span>
                    <span class="chip completed">완료</span>
                    <span class="chip end">종료</span>
                    <span class="chip unsubscribe">해지</span>

                    <br><br>

                    <div class="description">
                        <!-- <h3>GUIDE</h3>
                        <p style="line-height:1.6;">
                            * 공통 버튼만 정리<br>
                            * 추후 기능별 버튼 정리 예정<br>
                            * Primary, Secondary, Tertiary의 세가지 컬러만 사이즈 조절 가능, 현재 사이즈가 중간(.small/.large)<br>
                            <br>
                        </p> -->
                    </div>
                </div>
            </section>

            <section class="sample">
                <h2 class="sampleTitle">03. tag</h2>
                <div class="sampleContent">

                    <div class="tags">
                        <button type="button">Tag 1</button>
                        <button type="button">Tag 2</button>
                        <button type="button">Tag 3</button>
                        <button type="button">Tag 4</button>
                        <button type="button">Tag 5</button>
                    </div>

                    <div class="tags bg">
                        <button type="button">Tag 1</button>
                        <button type="button">Tag 2</button>
                        <button type="button">Tag 3</button>
                        <button type="button">Tag 4</button>
                        <button type="button">Tag 5</button>
                    </div>

                    <div class="description">
                        <!-- <h3>GUIDE</h3>
                        <p style="line-height:1.6;">
                            * 공통 버튼만 정리<br>
                            * 추후 기능별 버튼 정리 예정<br>
                            * Primary, Secondary, Tertiary의 세가지 컬러만 사이즈 조절 가능, 현재 사이즈가 중간(.small/.large)<br>
                            <br>
                        </p> -->
                    </div>
                </div>
            </section>

        </div>

    </div>

    <!-- SCRIPT IMPORT 
     <script src="../../assets/js/import/import.js"></script>

    


 -->
</body>

</html>
