<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table - Fair Liar</title>
    <link rel="stylesheet" href="../../assets/css/common.min.css">

    <!-- SCRIPT IMPORT -->
     <script src="../../assets/js/import/import.js"></script>

    



    <script src="../../assets/js/ui.common.js" charset="utf-8"></script>
</head>

<body>
    <div id="wsg-wrap" class="wsg">

        <header class="wsg-header">
            <h1>
                <a href="javascript:void(0);"><img src="/status/assets/logo.svg" width="120" alt="Fair Liar"></a>
            </h1>
            
            <nav id="nav">
                <ul>
                    <li ><a href="../../index.html">IA List</a></li>
                    <li ><a href="wsg.html">웹스타일가이드</a></li>
                </ul>
            </nav>
        </header>

        <ul class="guideSubmenu">
            <li><a href="./wsg.html" >Color</a></li>
            <li><a href="./typography.html" >Typography</a></li>
            <li><a href="./icon.html" >Icon &amp; Chips &amp; Tag</a></li>
            <li><a href="./button.html" >Button</a></li>
            <li><a href="./form.html" >Form</a></li>
            <li><a href="./accordian.html"  >아코디언</a></li>
            <li><a href="./table.html" class="guideOn">Table</a></li>
            <li><a href="./list.html" >List</a></li>
            <li><a href="./ui.html" >COMMON UI</a></li>
            <li><a href="./layerpopup.html" >Popup</a></li>
            <!-- <li><a href="./unit.html" >유닛</a></li> -->
            <!-- <li><a href="./slider.html" >슬라이더</a></li> -->
        </ul>

        <div class="guideContainer">

            <section class="sample">
                <h2 class="sampleTitle">01. 테이블</h2>
                <div class="sampleContent">
                    <p>.board-list</p>
                    <p>리스트 없음 케이스는 list 가이드 참고 </p>

                    <div class="board-search_warp">
                        <div class="board-search">
                            <div class="combobox_wrap"><!-- 필수 항목일시 .required 추가-->
                                <div class="text_input">
                                    <div class="slds-form-element">
                                        <div class="slds-form-element__control">
                                            <div class="slds-combobox_container">
                                                <!-- 오픈시 클래스 slds-is-open추가 -->
                                                <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click">
                                                    <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                                                        <div role="combobox" tabindex="0" class="slds-input_faux slds-combobox__input slds-has-focus" aria-labelledby="combobox-label-id-132 combobox-id-2-selected-value" id="combobox-id-2-selected-value" aria-controls="listbox-id-4" aria-expanded="true" aria-haspopup="listbox">
                                                            <span class="slds-truncate" id="combobox-value-id-101">전체 기간</span><!-- (협의 필요)일주일, 한달, 세달, 전체 -->
                                                        </div>
                                                        <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                                                            <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                                                <use xlink:href="../../assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                                                            </svg>
                                                        </span>
                                                    </div>
                                                    <!-- 오픈 listbox -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- //.combobox_wrap -->

                            <div class="combobox_wrap"><!-- 필수 항목일시 .required 추가-->
                                <div class="text_input">
                                    <div class="slds-form-element">
                                        <div class="slds-form-element__control">
                                            <div class="slds-combobox_container">
                                                <!-- 오픈시 클래스 slds-is-open추가 -->
                                                <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click">
                                                    <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                                                        <div role="combobox" tabindex="0" class="slds-input_faux slds-combobox__input slds-has-focus" aria-labelledby="combobox-label-id-132 combobox-id-2-selected-value" id="combobox-id-2-selected-value" aria-controls="listbox-id-4" aria-expanded="true" aria-haspopup="listbox">
                                                            <span class="slds-truncate" id="combobox-value-id-101">제목</span><!-- (협의 필요)제목, 내용, 글쓴이, 아이디, 별명 -->
                                                        </div>
                                                        <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                                                            <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                                                                <use xlink:href="../../assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                                                            </svg>
                                                        </span>
                                                    </div>
                                                    <!-- 오픈 listbox -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- //.combobox_wrap -->

                            <div class="box_input required"><!-- 필수 항목일시 .required 추가-->
                                <div class="text_input">
                                    <input type="text" placeholder="키워드를 입력해주세요."><!-- readonly경우 readonly, disabled경우 disabled 속성 추가 -->

                                    <span class="btn_box">
                                        <button type="button"><span class="icon_clear"></span></button>
                                        <button type="button"><span class="icon_search"></span></button>
                                    </span>
                                </div>
                            </div><!-- //.box_input -->
                        </div>

                        <!-- 검색 결과 -->
                        <div class="no-result">
                            <p class="no-result-txt"><span>'매장'</span> 검색결과 <strong>82</strong>개의 내용이 있습니다.</p>
                        </div>
                        <!-- //검색 결과 -->
                    </div><!-- //.board-search_warp -->

                    <div class="box-board">
                        <ul class="board-list">
                            <!-- header -->
                            <li class="board_header">
                                <span class="category">분류</span>
                                <span class="title">제목</span>
                                <span class="auth">작성자</span>
                                <span class="date">작성일</span>
                            </li>
                            <!-- //header -->

                            <!-- 반복, 최대 10줄까지 노출 -->
                            <li>
                                <span class="category">공지</span><!-- (협의필요) 분류 항목 협의 필요-->
                                <span class="title"><a href="#"><strong class="bg_keyword">공지</strong>사항 타이틀이 노출됩니다.</a></span><!-- 검색어일 경우 .bg_keyword -->
                                <span class="auth">페어라이어</span>
                                <span class="date">2025-02-01</span><!-- (협의필요) 작성일을 어떻게 노출할 것인지 협의 필요-->
                            </li>
                            <!-- //반복, 최대 10줄까지 노출 -->

                            <li>
                                <span class="category">배송</span>
                                <span class="title"><a href="#">타이틀은 한줄로 노출되며 타이틀이 길어지면 ...으로 표시됩니다. 모바일은 말줄임이 없습니다.</a></span>
                                <span class="auth">페어라이어</span>
                                <span class="date">2025-02-01</span>
                            </li>
                            <li>
                                <span class="category">취소</span>
                                <span class="title"><a href="#">공지사항 타이틀이 노출됩니다.</a></span>
                                <span class="auth">페어라이어</span>
                                <span class="date">2025-02-01</span>
                            </li>
                            <li>
                                <span class="category">교환</span>
                                <span class="title"><a href="#">공지사항 타이틀이 노출됩니다.</a></span>
                                <span class="auth">페어라이어</span>
                                <span class="date">2025-02-01</span>
                            </li>
                            <li>
                                <span class="category">환불</span>
                                <span class="title"><a href="#">공지사항 타이틀이 노출됩니다.</a></span>
                                <span class="auth">페어라이어</span>
                                <span class="date">2025-02-01</span>
                            </li>
                            <li>
                                <span class="category">오류</span>
                                <span class="title"><a href="#">공지사항 타이틀이 노출됩니다.</a></span>
                                <span class="auth">페어라이어</span>
                                <span class="date">2025-02-01</span>
                            </li>
                            <li>
                                <span class="category">오류</span>
                                <span class="title"><a href="#">공지사항 타이틀이 노출됩니다.</a></span>
                                <span class="auth">페어라이어</span>
                                <span class="date">2025-02-01</span>
                            </li>
                            <li>
                                <span class="category">기타</span>
                                <span class="title"><a href="#">공지사항 타이틀이 노출됩니다.</a></span>
                                <span class="auth">페어라이어</span>
                                <span class="date">2025-02-01</span>
                            </li>
                            <li>
                                <span class="category">교환</span>
                                <span class="title"><a href="#">공지사항 타이틀이 노출됩니다.</a></span>
                                <span class="auth">페어라이어</span>
                                <span class="date">2025-02-01</span>
                            </li>
                            <li>
                                <span class="category">교환</span>
                                <span class="title"><a href="#">공지사항 타이틀이 노출됩니다.</a></span>
                                <span class="auth">페어라이어</span>
                                <span class="date">2025-02-01</span>
                            </li>
                        </ul><!-- //.board-list -->
    
                        <!-- pc only -->
                        <div class="pc_show pagination_wrap">
                            <button type="button" class="arrow first"><span class="icon_arrow_double"></span></button>
                            <button type="button" class="arrow prev "><span class="icon_arrow_right"></span></button>
                            <div class="pages">
                                <a href="#" class="num on">1</a>
                                <a href="#" class="num">2</a>
                                <a href="#" class="num">3</a>
                                <a href="#" class="num">4</a>
                                <a href="#" class="num">5</a>
                                <a href="#" class="num">6</a>
                                <a href="#" class="num">7</a>
                                <a href="#" class="num">8</a>
                                <a href="#" class="num">9</a>
                                <a href="#" class="num">10</a>
                            </div>
                            <button type="button" class="arrow next"><span class="icon_arrow_right"></span></button>
                            <button type="button" class="arrow last"><span class="icon_arrow_double"></span></button>
                        </div><!-- pagination -->
                        <!-- //pc only -->

                        <!-- mobile only -->
                        <div class="btn_wrap mo_show w200">
                            <button type="button" class="btn_secondary"><span class="text">더보기</span><span class="icon_arrow_bottom"></span></button>
                        </div>
                        <!-- //mobile only -->
                         
                    </div><!-- //.box-board -->
                </div>    
            </section>    

            <section class="sample">
                <h2 class="sampleTitle">02. Table</h2>
                <div class="sampleContent">
                    <h3><strong>Data Table</strong></h3>
                    
                    <div class="table_wrap">
                        <table>
                            <caption class="hidden">Data Table</caption>
                            <colgroup>
                                <col style="width: 22.2%;">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>상점명</th>
                                    <td>페어라이어</td>
                                </tr>
                                <tr>
                                    <th>대표이사</th>
                                    <td>YOON JEE NA, 윤지현</td>
                                </tr>
                                <tr>
                                    <th>대표전화</th>
                                    <td>472-86-00266</td>
                                </tr>
                                <tr>
                                    <th>주소</th>
                                    <td>서울 서초구 강남대로95길 16 태양빌딩 2층</td>
                                </tr>
                                <tr>
                                    <th>사업자등록번호</th>
                                    <td>472-86-00266</td>
                                </tr>
                                <tr>
                                    <th>통신판매업신고</th>
                                    <td>2021-서울서초-2137호</td>
                                </tr>
                                <tr>
                                    <th>개인정보 관리책임</th>
                                    <td>브랜드사업부</td>
                                </tr>
                                <tr>
                                    <th>호스팅제공</th>
                                    <td>호스팅제공회사</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <br><br><br>

                    <h3><strong>Data Table 견적서 .esti 추가</strong></h3>

                    <div class="table_wrap esti"><!--견적서일 경우 .esti 추가-->
                        <table>
                            <caption class="hidden">견적서</caption>
                            <colgroup>
                                <col style="width: 20%;">
                                <col style="width: 20%;">
                                <col style="width: 20%;">
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>담당자</th>
                                    <th>견적일</th>
                                    <th>결제방법</th>
                                    <th class="right">견적금액</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>홍길동 귀하</td>
                                    <td>2025-02-13</td>
                                    <td class="center">현금 &#47; 신용카드</td>
                                    <td class="right bold">3,451,000원</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <br><br><br>

                    <div class="table_wrap esti"><!--견적서일 경우 .esti 추가-->
                        <p class="table_title">공급자</p>
                        <table>
                            <caption class="hidden">견적서</caption>
                            <colgroup>
                                <col style="width: 15%;">
                                <col>
                                <col style="width: 15%;">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>상호</th>
                                    <td colspan="3">(주)씨에프디에이</td>
                                </tr>
                                <tr>
                                    <th>대표자</th>
                                    <td colspan="3">YOON JEE NA, 윤지현</td>
                                </tr>
                                <tr>
                                    <th>주소</th>
                                    <td colspan="3">서울 서초구 강남대로95길 16 태양빌딩 2층</td>
                                </tr>
                                <tr>
                                    <th>업태</th>
                                    <td>제조업,소매,소매업</td>
                                    <th>종목</th>
                                    <td>의류외 건강보조식품 소매업 전자상거래</td>
                                </tr>
                                <tr>
                                    <th>전화</th>
                                    <td>472-86-00266</td>
                                    <th>팩스</th>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <br><br><br>

                    <div class="table_wrap esti"><!--견적서일 경우 .esti 추가-->
                        <p class="table_title">아래와 같이 견적합니다.</p>
                        <table>
                            <caption class="hidden">견적서</caption>
                            <colgroup>
                                <col style="width: 6%;">
                                <col style="width: 12%;">
                                <col>
                                <col style="width: 15%;">
                                <col style="width: 12%;">
                                <col style="width: 15%;">
                                <col style="width: 6%;">
                                <col style="width: 15%;">
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>NO</th>
                                    <th>상품코드</th>
                                    <th>상품명</th>
                                    <th>제조사</th>
                                    <th>원산지</th>
                                    <th class="right">판매가</th>
                                    <th>수량</th>
                                    <th class="right">구매금액</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>3972</td>
                                    <td>진주 리본 자켓 가디건(블랙)<br>색상:블랙, 사이즈:M</td>
                                    <td>자체제작</td>
                                    <td>국내</td>
                                    <td class="right">458,000원</td>
                                    <td>1</td>
                                    <td class="right">458,000원</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>3972</td>
                                    <td>진주 리본 자켓 가디건(블랙)<br>색상:블랙, 사이즈:M</td>
                                    <td>자체제작</td>
                                    <td>국내</td>
                                    <td class="right">458,000원</td>
                                    <td>1</td>
                                    <td class="right">458,000원</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>    
            </section>    
        </div>
        
        <!-- SCRIPT IMPORT 
          <script src="../../assets/js/import/import.js"></script>

         


 -->
    </div>
</body>
</html>
