<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Color - Fair Liar</title>
        <link rel="stylesheet" href="../../assets/css/common.min.css">

        <!-- SCRIPT IMPORT -->
         <script src="../../assets/js/import/import.js"></script>

        



        <script src="../../assets/js/ui.common.js" charset="utf-8"></script>
    </head>
<body>
    <div id="wsg-wrap" class="wsg">

        <header class="wsg-header">
            <h1>
                <a href="javascript:void(0);"><img src="/status/assets/logo.svg" width="120" alt="Fair Liar"></a>
            </h1>
            
            <nav id="nav">
                <ul>
                    <li ><a href="../../index.html">IA List</a></li>
                    <li class="on"><a href="wsg.html">웹스타일가이드</a></li>
                </ul>
            </nav>
        </header>

        <ul class="guideSubmenu">
            <li><a href="./wsg.html" class="guideOn">Color</a></li>
            <li><a href="./typography.html" >Typography</a></li>
            <li><a href="./icon.html" >Icon &amp; Chips &amp; Tag</a></li>
            <li><a href="./button.html" >Button</a></li>
            <li><a href="./form.html" >Form</a></li>
            <li><a href="./accordian.html"  >아코디언</a></li>
            <li><a href="./table.html" >Table</a></li>
            <li><a href="./list.html" >List</a></li>
            <li><a href="./ui.html" >COMMON UI</a></li>
            <li><a href="./layerpopup.html" >Popup</a></li>
            <!-- <li><a href="./unit.html" >유닛</a></li> -->
            <!-- <li><a href="./slider.html" >슬라이더</a></li> -->
        </ul>

        <div class="guideContainer">
            <!-- Color System  -->
            <section class="sample">
                <h2 class="sampleTitle">Color System</h2>

                <div class="sampleContent">
                    <div class="flexColumn">
                        <!-- color scale -->
                        <div class="colorSystem">
                            <h3><strong>Brand Colors</strong></h3>
                            <ul class="colorSystem_list">
                                <li>
                                    <div class="colorItem">
                                        <div class="colorGuide primary">
                                            $primary;<br />
                                            <strong>#1d1d1d;</strong>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="colorItem">
                                        <div class="colorGuide secondary white">
                                            $secondary;<br>
                                            <strong>#ffffff;</strong>
                                        </div>
                                    </div>
                                </li>
                                <!-- <li>
                                    <div class="colorItem">
                                        <div class="colorGuide tertiary white">
                                            $tertiary;<br>
                                            <strong>#fffff;</strong>
                                        </div>
                                    </div>
                                </li> -->
                            </ul>

                            <h3 style="margin-top: 50px;"><strong>Point</strong></h3>
                            <ul class="colorSystem_list">
                                <li>
                                    <div class="colorItem">
                                        <div class="colorGuide point">
                                            $point;<br>
                                            <strong>#e45b8b</strong>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="colorItem">
                                        <div class="colorGuide white lightPoint">
                                            $lightPoint;<br>
                                            <strong>#fff0f4</strong>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="colorItem">
                                        <div class="colorGuide subPoint">
                                            $subPoint;<br>
                                            <strong>#E45B8B</strong>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <h3 style="margin-top: 50px;"><strong>State Colors</strong></h3>
                            <ul class="colorSystem_list">
                                <li>
                                    <div class="colorItem">
                                        <div class="colorGuide white bg">
                                            $bg;<br>
                                            <strong>#f1f1f1</strong>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="colorItem">
                                        <div class="colorGuide error">
                                            $error;<br>
                                            <strong>#df382d</strong>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="colorItem">
                                        <div class="colorGuide success">
                                            $success;<br>
                                            <strong>#4fb584</strong>
                                        </div>                 
                                    </div>
                                </li>
                                <li>
                                    <div class="colorItem">
                                        <div class="colorGuide disabled white">
                                            $disabled;<br>
                                            <strong>#e0e0e0</strong>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <h3 style="margin-top: 50px;"><strong>Text</strong></h3>
                            <ul class="colorSystem_list">
                                <li>
                                    <div class="colorItem">
                                        <div class="colorGuide white">
                                            $white;<br>
                                            <strong>#ffffff</strong>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="colorItem">
                                        <div class="colorGuide text200">
                                            $text200;<br>
                                            <strong>#bbbbbb</strong>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="colorItem">
                                        <div class="colorGuide text500">
                                            $text500;<br>
                                            <strong>#999999</strong>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="colorItem">
                                        <div class="colorGuide text600">
                                            $text600;<br>
                                            <strong>#4d4d4d</strong>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="colorItem">
                                        <div class="colorGuide text900">
                                            $text900;<br>
                                            <strong>#1d1d1d</strong>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <h3 style="margin-top: 50px;"><strong>Line</strong></h3>
                            <ul class="colorSystem_list">
                                <li>
                                    <div class="colorItem">
                                        <div class="colorGuide line100 white">
                                            $line100;<br>
                                            <strong>#e0e0e0</strong>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="colorItem">
                                        <div class="colorGuide line200">
                                            $line200;<br>
                                            <strong>#adadad</strong>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="colorItem">
                                        <div class="colorGuide line600">
                                            $line600;<br>
                                            <strong>#4d4d4d</strong>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="colorItem">
                                        <div class="colorGuide line900">
                                            $line900;<br>
                                            <strong>#1d1d1d</strong>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                                
        
                            <!-- <div class="description">
                                <h3>SCSS GUIDE</h3>
        
                                <p>
                                    _variables.scss에 미리 정의해 둠. <br>
                                </p>
                                <h3>Example</h3>
                                <pre>
                                    p {
                                        background-color: $primary;
                                    }
                                </pre>
                            </div> -->
                        </div>
                        <!--// color scale -->
                       
                    </div>
                </div>
            </section>            
        </div>
    </div>

    <!-- SCRIPT IMPORT 
     <script src="../../assets/js/import/import.js"></script>

    


 -->

</body>

</html>
